h1{
    background-color: aquamarine;
    color:black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:brown;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}